@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

@font-face {
    font-family: 'Frederica';
    src: url(fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf) format(truetype);
    
}

:root{
    --cor1: #6F9283;
    --cor2: #384249;
    --cor3: #F7B2BD; 
    --cor4: #E34A6F;
    --cor5: #0D1821;

    --font-marca: 'Charmonman', cursive;
    --font-principal: 'Frederica', cursive;
    --font-geral: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    height: 8px;
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor1);
    border: 2px solid var(--cor5);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-geral);
}

body{
    background-color: var(--cor5);
    width: 100%;
}

header{
    background-color: var(--cor5);
    position: sticky;
    top: 0px;
    width: 200px;
    margin: auto;
    border-bottom: 2px solid var(--cor4);
    border-left: 2px solid var(--cor4);
    border-right: 2px solid var(--cor4);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

header h1{
    height: 40px;
    text-align: center;
    font: 900 normal 1.5em var(--font-marca);
    color: var(--cor4);
}

#header-menu{
    position: fixed;
    left: 5px;
    top: 5px;
    padding: 2px;
    background-color: var(--cor5);
    cursor: pointer;
    color: var(--cor4);
    border-radius: 8px;
    transition: all .5s ease;
}
#header-menu:hover{
    color: var(--cor3);
    transition: all .3s ease;
}

header nav{
    position: fixed;
    top: 50px;
    display: flex;
    flex-flow: column nowrap;
    padding: 2px;
    background-color: var(--cor5);
    border: 2px solid var(--cor1);
    transition: all .5s ease;
}
.header-nav-left{
    left: -83px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header-nav-right{
    right: -84px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
header > #header-menu:hover ~ .header-nav-left, .header-nav-left:hover{
    border-color: var(--cor4);
    left: 0px;
    transition: all .3s ease;
}
header > #header-menu:hover ~ .header-nav-right, .header-nav-right:hover{
    border-color: var(--cor4);
    right: 0px;
    transition: all .3s ease;
}
header > #header-menu:hover ~ .header-nav-left a, .header-nav-left:hover a{
    color: var(--cor4);
    transition: all .3s ease;
}
header > #header-menu:hover ~ .header-nav-right a, .header-nav-right:hover a{
    color: var(--cor4);
    transition: all .3s ease;
}

header nav a{
    margin: 2px;
    padding: 8px 16px;
    font: 600 normal 1.1em var(--font-geral);
    color: var(--cor1);
    text-decoration: none;
    border-radius: 5px;
    transition: all .2s ease;
}
header nav a:hover{
    background-color: var(--cor2);
    transition: all .3s ease;
}
header nav a:active{
    color: var(--cor3);
    transition: all .3s ease;
}

.section-content{
    display: grid;
    overflow-x: scroll;
    grid-template-columns: 100vw 100vw 100vw;
    scroll-snap-type: x mandatory;
}

.section-content aside{
    margin: 50px 5vw;
    padding: 8px;
    scroll-snap-align: center;
}
.section-content h2{
    color: var(--cor1);
    font: normal normal 1.9em var(--font-principal);
    text-align: center;
}
.section-content p{
    color: var(--cor1);
    text-align: center;
}

main{
    margin: 0px auto 20px auto;
    padding: 8px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.527);
}

main h1{
    padding: 30px 0px 8px 0px;
    font: 900 normal 2.1em var(--font-principal);
    text-align: center;
}
main h2{
    padding: 27px 0px 5px 0px;
    font: 600 normal 1.6em var(--font-principal);
}
main h3{
    font-size: 1.35em;
    padding: 20px 0px 5px 0px;
    text-indent: 5px;
}
main p{
    font-size: 1.05em;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.6em;
}

main section{
    margin: 30px 0px 10px 0px;
    padding: 5px;
    background-color: var(--cor5);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.37);
}
main section h1{
    font: normal normal 2em var(--font-principal);
    color: var(--cor1);
    padding: 6px 0px;
}
main section nav{
    display: grid;
    width: 100%;
}
main section nav a{
    margin: 2px 0px;
    padding: 8px 0px;
    border-radius: 10px;
    font: normal normal 1.2em var(--font-geral);
    color: var(--cor1);
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
}
main section nav a:hover{
    background-color: var(--cor2);
    transition: all .3s ease;
}
main section nav a:active{
    color: var(--cor3);
}

footer{
    padding: 2px;
    background-color: var(--cor5);
    border-top: 2px solid var(--cor1);
}
footer p{
    font: normal normal 0.8em var(--font-geral);
    color: var(--cor1);
    text-align: center;
}
footer a{
    color: var(--cor4);
    text-decoration: none;
    border-radius: 3px;
    transition: all .5s ease;
}
footer a:hover{
    background-color: var(--cor2);
    transition: all .3s ease;
}
footer a:active{
    color: var(--cor3);
}