@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

::-webkit-scrollbar{
    display: none;
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: var(--cor5);
}
::-webkit-scrollbar-thumb{
    background-color: var(--cor2);
    border: 2px solid var(--cor5);
    border-radius: 5px;
}

:root{
    --cor1: #DDD1C7;
    --cor2: #C2CFB2;
    --cor3: #8DB580;
    --cor4: #7E8987;
    --cor5: #4B4A67;
    --font-geral: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-titulo: 'Titan One', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal normal 1em var(--font-geral);
}

/*----------------------------Login-page-------------------------------*/

div.form-background{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor4);
    background-image: url(../imagens/img-background-smart.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

section.form-layout{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 330px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);

    translate: -50% -50%;
    transition: all .5s ease;
}
section.form-layout:hover{
    background-color: rgba(255, 255, 255, 0.808);
    transition: all 0.3s ease;
}

section.form-layout > h1{
    font: normal normal 2em var(--font-titulo);
    text-align: center;
    margin: 5px 0px;
}

section.form-layout > p{
    font-size: 0.9em;
    font-weight: 500;
    margin: 15px 0px;
}

div.user-data{
    margin: 5px 0px ;
    display: flex;
    align-items: center;
}
div.user-data label{
    font-size: 30px;
    padding-right: 8px;
}
div.user-data input{
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 30px;
    text-indent: 10px;
    transition: all 0.3s ease;
}

input:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
input:focus{
    outline: 1px solid black;
    transition: all 0.3s ease;
}

div#form-user-buttons{
    margin-top: 15px;
}
div#form-user-buttons > button{
    width: 100%;
    height: 40px;
    margin-bottom: 3px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 30px;
    transition: all 0.3s ease;
}
div#form-user-buttons > button:hover{
    transform: translate(-3%);
    transition: all 0.3s ease;
}
div#form-user-buttons > button:active{
    transform: scale(0.95);
    transition: all 0.3s ease;
}

/*------------------------------------------------Home-and-others-page----------------------------------------------------*/

header{
    position: sticky;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 5fr 1fr;
    top: 0px;
    width: 100%;
    background-color: var(--cor5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.425);
}

header > h1{
    font: normal normal 2em var(--font-titulo);
    text-indent: 10px;
    color: var(--cor1);
}

div.header-menu{
    font-size: 1.2em;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
    color: var(--cor1);
    border-radius: 5px;
    border: 2px solid var(--cor1);
    cursor: pointer;
}
div.header-menu:hover{
    background-color: var(--cor4);
    transition: all .3s ease;
}
div.header-menu:active{
    transform: scale(0.9);
    transition: all .3s ease;
}

div.header-progress{
    margin: 2px 0px;
    grid-column: 1/3;
}
div.header-progress-bar{
    width: 1%;
    height: 100%;
    background-color: var(--cor1);
    border-radius: 2px;
    transition: width .3s ease;
}

header > nav{
    position: fixed;
    background-color: var(--cor5);
    top: 10%;
    right: -50%;
    display: grid;
    padding: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.459);
    transition: all .5s ease;
}

header > nav > a{
    margin: 2px;
    padding: 3px 15px 6px 15px;
    color: var(--cor2);
    text-decoration: none;
    text-align: center;
    font: 700 normal 1em var(--font-geral);
    transition: all .3s ease;
}
header > nav > a:hover{
    background-color: var(--cor4);
    border-radius: 5px;
    transition: all .3s ease;
}
header > nav > a:active{
    transform: scale(0.9);
    transition: all .3s ease;
}

section.section-tools{
    display: flex;
    flex-flow: row nowrap;
    width: 98vw;
    height: 130px;
    margin: 10px auto;
    overflow-x: scroll;
}

section.section-tools > aside{
    height: 100px;
    background-color: var(--cor2);
    margin: 0px 5px;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
    align-self: center;
    transition: all 0.15s ease;
}
section.section-tools > aside:hover{
    transform: scale(1.1);
    transition: all .3s ease;
}

section.section-tools > aside > div{
    font-size: 3em;
}
section.section-tools > aside > h2{
    font: 600 normal 1.1em var(--font-geral);
}

main{
    margin: 5px;
}

main > h1{
    text-align: center;
    margin: 5px;
    font: normal normal 1.8em var(--font-titulo);
}
main > p{
    font: normal normal 0.95em var(--font-geral);
    text-align: justify;
    text-indent: 10px;
    line-height: 1.7em;
    margin: 5px 0px;
}

footer{
    position: sticky;
    bottom: 0%;
    background-color: var(--cor5);
    border-top: 3px solid var(--cor1);
}

footer > p{
    color: var(--cor1);
    font: 700 normal 0.8em var(--font-geral);
    text-align: center;
}

footer a{
    color: var(--cor3);
    text-decoration: none;
    font: normal normal 1em var(--font-geral);
    transition: all .3s ease;
}
footer a:hover{
    text-decoration: underline;
    transition: .4s ease;
}
footer a:active{
    color: var(--cor1);
    transition: all .3s ease;
}