@charset "UTF-8";
@keyframes morte {
    0%{
        transform: rotateZ(90deg);
    }
    10%{
        transform: rotateZ(270deg);
    }
    20%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(0.8);
    }
    50%{
        height: 2vh;
    }
    60%{
        height: 1vh;
    }
    70%{
        height: 0.5vh;
    }
    80%{
        height: 0.3vh;
    }
    90%{
        height: 0.1vh;
    }
    100%{
        height: 0px;
    }
}

*{
    margin: 0px;

}

:root{
    --cor-1:#392759;
    --cor-2:#092327;
    --cor-3:#776D5A;
    --cor-4:#F63E02;
    --cor-5:#0094C6;
    --cor-6:black;
    --cor-7:white;


}

body{
    background-color: var(--cor-6);
    position: relative;
    color: var(--cor-7);
}

div#tela{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--cor-2);
    width: 95vw;
    height: 95vh;
    translate: -50% -50%;
    border-radius: 1vw;
    border: 3px solid var(--cor-1);
}

div#player{
    position: absolute;
    background-color: var(--cor-4);
    width: 2vw;
    height: 4vh;
    border-radius: 0.5vw;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
}

div.inimigo1{
    position: absolute;
    background-color: var(--cor-3);
    width: 2vw;
    height: 4vh;
    border-radius: 0.5vw;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
}

input#jogar{
    background-color: var(--cor-2);
    border: 1px solid var(--cor-7);
    color: var(--cor-7);
    position: fixed;
    z-index: 1;
    translate: -50% -50%;
    top: 4%;
    left: 50%;
}
input#jogar:focus{
    opacity: 0.2;
    
}
input#jogar:not(:focus){
    opacity: 1;
}