@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

@font-face {
    font-family: 'Frederica';
    src: url(fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf) format(truetype);
    
}

:root{
    --cor1: #FF1053;
    --cor2: #8C1A6A;
    --cor3: #1282A2; 
    --cor4: #034078;
    --cor5: #0A1128;
    --cor6: #050914;

    --font-p: 'Charmonman', cursive;
    --font-s: 'Frederica', cursive;
    --font-g: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

header{
    text-align: center;
    padding: 0px;
    background-color: transparent;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}
header > div > section{
    top: 0px;
    background-image: linear-gradient(to right, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    padding: 0px 3px 3px 3px;
    width: 300px;
    height: 100px;
    margin: auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
header h1{
    font: normal bold 3.2em var(--font-p);
    background-color: var(--cor6);
    width: 300px;
    height: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
header > div > section > h1 > span{
    padding: 5px;
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #ff105400;
}
header > div > div{
    padding: 0px 3px 3px 3px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
}
header nav{
    background-color: var(--cor6);
    padding: 10px 20px 20px 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.e{
    position: absolute;
    left: 10%;
    top: -100px;

}
.d{
    position: absolute;
    right: 10%;
    top: -100px;

}
header a{
    color: var(--cor1);
    margin: 5px 8px;
    text-shadow: 1px 1px 3px var(--cor4);
    text-decoration: none;
    font: normal bold 1em var(--font-s);
}
header a:hover{
    color: var(--cor3);
    text-shadow: 1px 1px 3px var(--cor2);
}
header a:active{
    color: var(--cor3);
    text-shadow: 0px 0px 6px var(--cor1);

}
@media (min-width: 975px){
    header:hover .e{
        top: 0px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    header:not(:hover) .e{
        top: -100px;
        transition-property: all;
        transition-duration: 5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-delay: 1s;
    }
    header:hover .d{
        top: 0px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    header:not(:hover) .d{
        top: -100px;
        transition-property: all;
        transition-duration: 5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-delay: 1s;
    }
}


.menu1{
    position: relative;
    top: 500px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.menu1 .aside1{
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    width: 200px;
    position: absolute;
    bottom: 0px;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
}
.esquerda{
    left: 10px;

}
.direita{
    right: 10px;

}
div.borda-seção1{
    padding: 3px;
    background-color: var(--cor5);
    border-radius: 10px;
}
.menu1 h2{
    font: normal bold 2em var(--font-s);
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor6);
    margin: 5px;
    color: var(--cor1);
}
.menu1 p{
    font: normal normal 0.9em var(--font-g) ;
    text-align: justify;
    margin: 8px;
    color: var(--cor3);
}
.menu1 div:hover{
    position: relative;
    font-size: 1.1em;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 0.15, 0.155, 0.706);
}
.menu1 div:not(:hover){
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.5, 0.15, 0.155, 0.706);
}
.aside1:hover{
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    width: 200px;
    position: absolute;
    bottom: 0px;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    z-index: 1;
}
.aside1:not(:hover){
    transition-property: all;
    transition-duration: 0.3s;
}




main{
    background-color: var(--cor6);
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
}
div#main-border{
    padding: 3px;
    max-width: 800px;
    margin: auto;
    margin-top: 650px;
    border-radius: 8px;
    background-image: linear-gradient(20deg, var(--cor1)10%, var(--cor3)20%, var(--cor2)30%, var(--cor1)40%, var(--cor3)50%, var(--cor2)60%, var(--cor1)70%, var(--cor3)80%, var(--cor2)90%);
}
main h1{
    font: normal bold 2.8em var(--font-p);
    padding-top: 15px;
    text-align: center;
    color: var(--cor1);
}
main h2{
    font: normal normal 1.6em var(--font-s);
    color: var(--cor2);
    margin: 5px 0px 0px 0px;
    text-indent: 18px;
}
main h3{
    font: normal normal 1.2em var(--font-s);
    color: var(--cor2);
    margin: 5px 0px 0px 0px;
    text-indent: 18px;
}
main p{
    font: normal normal 1em var(--font-g);
    text-indent: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 2em;
    color: var(--cor3);
}


.extra{
    background-color: var(--cor5);
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    margin: 50px 0px; 
    text-align: center;
    line-height: 30px;
}
.extra h1{
    display: block;
    font: normal bold 2em var(--font-s);
    padding-bottom: 20px;
    text-shadow: 0px 0px 3px var(--cor1);
    color: var(--cor1);
}
.extra .aside2{
    display: inline;
    margin: 5px;
}
.aside2 a{
    font: normal normal 1em var(--font-s);
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 6px var(--cor3);
}
.aside2 a:hover{
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #ff105400;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-shadow: none;
}