@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');

@font-face {
    font-family: 'Frederica';
    src: url(fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf) format(truetype);
    
}

:root{
    --cor1: #FF1053;
    --cor2: #8C1A6A;
    --cor3: #1282A2; 
    --cor4: #034078;
    --cor5: #0A1128;
    --cor6: #050914;

    --font-p: 'Charmonman', cursive;
    --font-s: 'Frederica', cursive;
    --font-g: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    padding: 0px;
    background-color: transparent;
    height: 40px;
    width: 100%;
    position: fixed;
    
}
header > div > div{
    background-image: linear-gradient(to right, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    padding: 0px 3px 3px 3px;
    width: 300px;
    height: 100px;
    margin: auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
header h1{
    font: normal bold 3.2em var(--font-p);
    background-color: var(--cor6);
    width: 300px;
    height: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
header span{
    padding: 5px;
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #ff105400;
}
.e{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 0px;

}
.d{
    opacity: 0;
    position: absolute;
    right: 50%;
    top: 0px;

}
header span{
    background-image: linear-gradient(135deg, var(--cor1)25%, var(--cor3)50%, var(--cor2)75%);
    
}
header a{
    
    margin: 5px;
}
@media (min-width: 700px){
    header:hover .e{
        opacity: 1;
        left: 10%;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    header:not(:hover) .e{
        left: 20%;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-delay: 1s;
    }
    header:hover .d{
        opacity: 1;
        right: 10%;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    header:not(:hover) .d{
        right: 20%;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-delay: 1s;
    }
}


section{
    padding-top: 150px;
}