@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --cor1: #BAFF29;
    --cor2: #1A1B41;
    --cor3: #c2e7da;
    --cor4: #6290c3;
    --cor-letra: black;
    --cor-bk: rgb(255, 255, 255);

    --font-geral: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-t: 'Bebas Neue', cursiva;
    --font-st: 'Fredoka One', cursive;
}
body{
    --cor1: #BAFF29;
    --cor2: #1A1B41;
    --cor3: #c2e7da;
    --cor4: #6290c3;
    --cor-letra: black;
    --cor-bk: rgb(255, 255, 255);

    background-color: var(--cor-bk);
    position: relative;
}

*{
    font-family: var(--font-geral);
    margin: 0px;
    padding: 0px;
}
h1{
    font: normal normal 3em var(--font-t);
    color: var(--cor-letra);
}
h2{
    font: normal normal 1.5em var(--font-st);
    color: var(--cor-letra);
    margin-top: 20px;
}
p{
    color: var(--cor-letra);
}
a{
    font: normal normal 1em var(--font-st);
    text-decoration: none;
    color: var(--cor2);
}
a:hover{
    color: var(--cor4);
    transition: all 0.5s ease;
}
a:active{
    transition: all 0.1s ease-in-out;
    text-shadow: 1px 1px 1px var(--cor-letra);
}
strong{
    color: var(--cor2);
}
button{
    background-color: var(--cor3);
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 3px 10px;
    font: normal normal 0.9em var(--font-geral);
    cursor: pointer;
}
button:hover{
    transition: border 0.5s ease-in-out;
    border: 2px solid var(--cor4);
}
button:not(:hover){
    transition: border 0.6s ease-in-out;
    border: 2px solid transparent;
}
section{
    margin: 50px auto;
    width: 800px;
    padding: 15px;
    background-color: var(--cor-bk);
    border-radius: 20px;
}
footer{
    position: sticky;
    bottom: 0%;
    padding-bottom: 4px;
    text-align: center;
    border-top: 3px solid var(--cor2);
    background-color: var(--cor-bk);
}
#iframe{
    height: 70vh;
    width: 98vw;
    margin: auto;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}



header{
    background-color: var(--cor-bk);
    border-bottom: 3px solid var(--cor2);
    text-align: center;
    padding: 10px;
    
}
header h1{
    margin: 0px;
    font-size: 4em;
    color: var(--cor2);
}
header p{
    margin-top: -15px;
    margin-bottom: 10px;
}

.menu{
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--cor-bk);
    border-bottom: 3px solid var(--cor2);
    padding: 3px;
}
.menu nav{
    padding-bottom: 10px;
}
.menu a{
    padding: 0px 1vw;
}
.menu a:hover{
    border-left: 1px solid var(--cor-letra);
    border-right: 1px solid var(--cor-letra);
}
.menu span{
    background-color: var(--cor-letra);
    margin: auto;
    display: block;
    width: fit-content;
    height: 10px;
    border-radius: 100px ;
    padding: 2px;
}
.menu > div > span > button{
    display: block;
    border: none;
    padding: none;
    height: 70%;
}
.menu > div > span > button:hover{
    height: 90%;
    transition: all 0.2s ease-in-out;
}
.menu > div > span > button:not(:hover){
    height: 70%;
    transition: all 0.2s ease-in-out;
}
.menu > div > span > button:active{
    background-color: var(--cor-letra);
}
.menu > div{
    text-align: center;
}
button#conteudo_e{
    position: absolute;
    top: 50%;
    left: 0%;
    translate: 0% -50%;
}
button#conteudo_d{
    position: absolute;
    top: 50%;
    right: 0%;
    translate: 0% -50%;
}