@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@keyframes sublinhado {
    0%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 45%, var(--cor5)45%, var(--cor5) 55%, var(--cor1)55%);
    }
    10%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 40%, var(--cor5)40%, var(--cor5) 60%, var(--cor1)60%);
    }
    20%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 35%, var(--cor5)35%, var(--cor5) 65%, var(--cor1)65%);
    }
    30%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 30%, var(--cor5)30%, var(--cor5) 70%, var(--cor1)70%);
    }
    40%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 25%, var(--cor5)25%, var(--cor5) 75%, var(--cor1)75%);
    }
    50%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 20%, var(--cor5)20%, var(--cor5) 80%, var(--cor1)80%);
    }
    60%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 15%, var(--cor5)15%, var(--cor5) 85%, var(--cor1)85%);
    }
    70%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 10%, var(--cor5)10%, var(--cor5) 90%, var(--cor1)90%);
    }
    80%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 5%, var(--cor5)5%, var(--cor5) 95%, var(--cor1)95%);
    }
    90%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 2%, var(--cor5)2%, var(--cor5) 98%, var(--cor1)98%);
    }
    100%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 0%, var(--cor5)0%, var(--cor5) 100%, var(--cor1)100%);
    }
}

@keyframes des_sublinhado {
    100%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 45%, var(--cor5)45%, var(--cor5) 55%, var(--cor1)55%);
    }
    90%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 40%, var(--cor5)40%, var(--cor5) 60%, var(--cor1)60%);
    }
    80%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 35%, var(--cor5)35%, var(--cor5) 65%, var(--cor1)65%);
    }
    70%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 30%, var(--cor5)30%, var(--cor5) 70%, var(--cor1)70%);
    }
    60%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 25%, var(--cor5)25%, var(--cor5) 75%, var(--cor1)75%);
    }
    50%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 20%, var(--cor5)20%, var(--cor5) 80%, var(--cor1)80%);
    }
    40%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 15%, var(--cor5)15%, var(--cor5) 85%, var(--cor1)85%);
    }
    30%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 10%, var(--cor5)10%, var(--cor5) 90%, var(--cor1)90%);
    }
    20%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 5%, var(--cor5)5%, var(--cor5) 95%, var(--cor1)95%);
    }
    10%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 2%, var(--cor5)2%, var(--cor5) 98%, var(--cor1)98%);
    }
    0%{
        padding-bottom: 3px;
        border-radius: 3px;
        background-image: linear-gradient(to right, var(--cor1) 0%, var(--cor5)0%, var(--cor5) 100%, var(--cor1)100%);
    }
}

:root{
    --font_g: 'M PLUS Rounded 1c', sans-serif;
    --font_p1: 'Fredoka One', cursive;
    --font_p2: 'Monoton', cursive;

    --cor1: #f5dc63;
    --cor2: #e1d183;
    --cor3: #c5ad4f;
    --cor4: #090712;
    --cor5: #070707;

}

*{
    margin: 0px;
}

img{
    border-radius: 10px;
}

header{
    background-color: var(--cor1);
    border-bottom: 3px solid var(--cor5);
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
header > img{
    max-width: 60px;
    margin-left: 5%;
    
}
header > span > input{
    background-color: var(--cor1);
    color: var(--cor4);
    font: normal normal 0.9em var(--font_p1);
    border: 2px solid var(--cor5);
    padding: 5px 10px;
    border-radius: 20px;
}
.buscar{
    background-color: var(--cor5);
    color: var(--cor3);
}
.buscar:hover{
    color: var(--cor5);
}
header > span > input:hover{
    background-color: var(--cor2)
}
header > span > input:active{
    background-color: var(--cor1);
    position: relative;
    transition: all 0.1s;
    transform: scale(1.1);
}
header > nav{
    margin-right: 5%;
}
header > nav > a{
    margin: 5px;
    color: var(--cor4);
    text-decoration: none;
    font: normal normal 1em var(--font_p1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
}
header > nav > a > span{
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
}
header > nav > a:hover{
    animation: sublinhado 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
header > nav > a:not(:hover){
    animation: des_sublinhado 0.2s;
    animation-delay: 0.1s;
}
header > nav > a > span:active{
    transition: all 0.3s;
    color: var(--cor3);
}

.conteiner1 a{
    color: var(--cor4);
}
.conteiner1 a:hover{
    transition: all 0.5s ease;
    border-radius: 3px;
    background-color: var(--cor2);
}
.conteiner1 {
    padding-top: 100px;
    display: flex;
    justify-content:  space-around;
    margin-bottom: 30px;
}
.conteiner1 aside{
    max-width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
}
.conteiner1 h3{
    font: normal 800 1.1em var(--font_g);
    color: var(--cor5);
    text-indent: 5px;
    margin: 3px;
}
.conteiner1 p{
    font: normal normal 1em var(--font_g);
    text-align: justify;
    text-indent: 20px;
}

section{
    background-color: var(--cor5);
    padding: 30px 20px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

section article{
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
section h1{
    color: var(--cor3);
    font: normal normal 3em var(--font_p2);
    text-align: center;
}
section p{
    color: var(--cor2);
    font: normal normal 1.3em var(--font_g);
    text-align: justify;
}
section nav{
    margin: 20px auto;
    padding-bottom: 30px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}
section a{
    background-color: var(--cor1);
    color: var(--cor4);
    width: 100%;
    height: 100%;
    padding: 10px;
    font: normal normal 2em var(--font_p1);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid var(--cor4);
}
section a img{
    display: block;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
section a:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}
section a:active{
    transition: all 0.5s;
    transform: scale(3.0);
}

main{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}
main > section{
    max-width: 800px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}

main > section > aside{
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.336);
    padding: 0px 0px 50px 0px; 
}
main > section > aside > ul{
    font: normal normal 1em var(--font_g);
}

.p_normal{
    background-color: var(--cor3);
}
.p_normal > h1, ul{
    color: var(--cor5);
}
.p_normal li{
    margin: 8px 0px;
}

.p_pro{
    background-color: var(--cor5);
}
.p_pro > ul, h1{
    color: var(--cor3);
}
.p_pro li{
    margin: 8px 0px;
}

h1{
    font: normal normal 3.2em var(--font_p1);
    text-align: center;
    margin: 10px 0px 8px 0px;
    color: var(--cor4);
}
h2{
    font: normal normal 2em var(--font_p1);
    text-indent: 20px;
    margin: 15px 0px 5px 0px;
}
h3{
    font: normal normal 1.5em var(--font_p1);
    text-indent: 10px;
    margin-top: 5px;
}
p{
    font: normal normal 1.2em var(--font_g);
    text-align: justify;
    margin: 10px 0px;
}


footer{
    background-color: var(--cor1);
    border-top: 2px solid var(--cor5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 10px;
}
footer p{
    line-height: 23px;
}
footer nav{
    display: flex;
    flex-direction: column;
    max-width: auto;
    margin: 10px;
}
footer img{
    max-width: 80px;
    margin: 10px;
}

footer a{
    width: fit-content;
    color: var(--cor4);
    text-decoration: none;
    font: normal bold 1em var(--font_g);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
}
footer a:hover{
    animation: sublinhado 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}
footer a:not(:hover){
    animation: des_sublinhado 0.2s;
    animation-delay: 0.1s;
}
footer span{
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
}
footer span:active{
    transition: all 0.3s;
    color: var(--cor3);
}
@media (max-width: 1100px){
    section nav{
        height: 750px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px 200px;
    }
}

@media (max-width: 800px){
    header > img{
        height: 40px;
        margin-right: 10px;
    }
    header > span > input{
        font: normal normal 0.8em var(--font_p1);
    }
    .buscar{
        margin-right: 20px;
    }
    header > nav{
        position: fixed;
        top: 80px;
        left: -1000px;
        background-color: var(--cor1);
        border-radius: 10px;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
        padding: 5px;
        border: 2px solid var(--cor5);
    }
    header > nav > a{
        font: normal normal 0.9em var(--font_p1);
        margin: 10px 5px;
    }
    header:hover .menu{
        left: 5px;
        transition: all 0.5s;
    }
    header:not(:hover) .menu{
        left: -1000px;
        transition: all 0.8s;
        transition-delay: 2s;
    }
    .conteiner1{
        flex-direction: column;
        align-items: center;
    }
    section h1{
        font: normal normal 2em var(--font_p2);
    }
    section p{
        font: normal normal 1em var(--font_g);
    }
    section nav{
        padding-left: auto 0px;
        width: 400px;
        height: 300px;
        display: initial;
        overflow-y: scroll;
        border-radius: 10px;
        margin: inherit -20px;
    }
    section a{
        display: block;
        font: normal normal 1.6em var(--font_p1);
        height: 200px;
        width: 300px;
        margin: 1rem auto;

    }
    section nav::-webkit-scrollbar{
        background-color: var(--cor1);
        width: 10px;
        padding: 2px 0px;
        border-radius: 10px;
    }
    section nav::-webkit-scrollbar-track{
        background-color: var(--cor1);
        width: 10px;
        padding: 2px 0px;
        border-radius: 10px;
    }
    section nav::-webkit-scrollbar-thumb{
        background-color: var(--cor4);
        border: 2px solid var(--cor1);
        border-radius: 10px;
    }
    main > section{
        max-width: 800px;
        background-color: transparent;
        display: flex;
    }
    .p_normal,.p_pro{
        margin: 10px auto;
    }
    footer p{
        font-size: 0.8em;
        margin: 10px;
        text-align: center;
    }
}
@media (max-width:450px){
    section nav{
        width: 280px;
        height: 200px;
    }
    section a{
        display: block;
        font: normal normal 1.2em var(--font_p1);
        height: 100px;
        width: 200px;

    }
}

@media (max-width: 420px){
    header{
        height: 40px;
    }
    header > img{
        height: 30px;
    }
    header > span > input{
        font: normal normal 0.5em var(--font_p1);
    }
    .buscar{
        margin-right: 20px;
    }
    header > nav{
        top: 50px;
    }
    header > nav > a{
        font: normal normal 0.6em var(--font_p1);
    }
}
